[submodule "extern/cglm"]
	path = extern/cglm
	url = https://github.com/recp/cglm.git
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb.git
[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
